/* Reset CSS để loại bỏ định dạng mặc định của trình duyệt */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Thiết lập các thuộc tính cho menu */
nav {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

nav ul li {
	display: inline-block;
	padding-right: 45px;
}

nav h1 {
	margin-left: 50px;
}
nav a {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
}

/* Thiết lập các thuộc tính cho banner */
.banner {
	background-image: url('/diadanh/GiaLai1.jpg');
	background-size: cover;
	background-position: center;
    height: 90vh;
    background-attachment: fixed;
	height: 200px;
}

/* Thiết lập các thuộc tính cho main */
.main {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 300px);
}
h1 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}
p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Thiết lập các thuộc tính cho footer */
footer {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	padding: 10px;
}


